[submodule "dependencies/crypto-algorithms"]
	path = dependencies/crypto-algorithms
	url = git@github.com:paulo-raca/crypto-algorithms.git
[submodule "dependencies/hiddev"]
	path = dependencies/hiddev
	url = git@github.com:paulo-raca/hiddev.git
[submodule "dependencies/micro-ecc"]
	path = dependencies/micro-ecc
	url = git@github.com:kmackay/micro-ecc.git
